@tailwind base;
@tailwind components;
@tailwind utilities;

@import "antd/dist/antd.css";
@import "components/button";
@import "components/table";
// @import "components/sidebar";

@layer base {
    body {
        --topbar-height: 4rem;
        --sidebar-width: 16rem;
        @apply text-gray-700 text-sm;
    }

    .sidebar {
        @apply overflow-y-auto z-10;
    }

    svg,
    img {
        @apply max-w-full max-h-full;
    }

    textarea {
        @apply resize-none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    a {
        @apply block cursor-pointer;
    }
}

.container {
    max-width: 1440px;
}

.map-container{
    width: 100%;
    height: 100vh
}

.table {
    @apply align-middle shadow sm:rounded-lg min-w-full whitespace-nowrap;
    table {
        @apply min-w-full;
    }
    thead {
        @apply bg-gray-50;
    }
    tbody {
        @apply bg-white border-t border-gray-200;
    }
    tr {
        @apply hover:bg-gray-50;
        &:not(:last-child) {
            @apply border-b border-gray-200;
        }
    }
    th {
        @apply px-6 h-[3.5em] font-medium bg-gray-50 text-left capitalize;
    }
    td {
        @apply px-6 py-4 whitespace-pre-line;
    }
}

